/* Navigation band */
.content-band.navigation {
    position: relative;
    max-width: 100%;
    background-color: transparent;

    .wrap {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        padding: 10px 0;
    }

    .band-copy {
        margin-bottom: 0 !important;
    }

    &::before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #f1f1f1;
    }

    @media (max-width: 767px) {
        .band-copy {
            padding: 0;
        }
    }
}

.nav-summit {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-weight: 400;
    font-family: din-2014;
    font-size: 20px;

    li {
        flex: 1 1 auto;
        list-style-type: none !important;
        margin: 0;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #4A4D4E;
        text-decoration: none;
        text-transform: uppercase;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    .active a {
        text-decoration: underline;
    }

    .home {
        background-image: url("/wp-content/uploads/2017/06/WPE-LGO-Summit17-RGB.png");
        background-size: contain;
        background-repeat: no-repeat;
        flex: 0 0 186px;
        height: 36px;

        a {
            width: 100%;
            height: 100%;
            display: block;
            text-transform: uppercase;
            text-indent: -999em;
        }
    }

    .register {
        flex: 2 1 auto;
        text-align: center;

        .button {
            display: inline-block;
            height: auto;
            width: auto;
            padding: 10px 15px;
            color: #FFFFFF;
            clip-path: none;

            &:focus,
            &:hover {
                text-decoration: none;
            }
        }
    }

    .wpe {
        position: relative;
        flex: 0 0 88px;

        a {
            position: absolute;
            display: block;
            z-index: 99;
            top: -10px;
            left: 0;
            height: 123px;
            width: 100%;
            padding: 15%;
            background: #FFFFFF;
            text-indent: -999em;
            background-image: url("/wp-content/themes/wpengine/images/WPE-logo-stacked.svg");
            background-size: contain;
            background-origin: content-box;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }
    }

    @media (max-width: 1000px) {
        li {
            order: 3;
        }

        .home {
            order: 1;
            flex: 0 1 calc(100% - 88px);
            margin-bottom: 40px;
        }

        .wpe {
            order: 2;
        }

        .register {
            order: 4;
            margin-right: 88px;
        }
    }

    @media (max-width: 767px) {
        .wpe {
            order: 2;
            flex-basis: 65px;

            a {
                height: 70px;
                padding: 7.5%;
            }
        }

        .register {
            margin-right: 0;
            margin-top: 20px;
            flex: 0 0 100%;
        }
    }
}
