body {
    padding-top: 0px !important;
}

header {
    display: none;
}

.content-sidebar-wrap {
    max-width: 100% !important;
}

/* band-header design */

.band-title, .band-copy {
    max-width: 100%;
    padding: 0 30px;
    margin: 0;
}

.content-band-header {
    display: flex;
    flex-flow: row wrap;
}

.band-title {
    flex: 1 1 100%;
}

.band-copy {
    flex: 1 1 100%;
}

/* Navigation band */

.content-band.navigation {
    max-width: 100%;
}

.content-band.navigation .wrap {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-summit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 400;
    font-family: din-2014;
    font-size: 20px;
}

.nav-summit li {
    flex: 1 1 auto;
    list-style-type: none !important;
    margin: 0;
}

.nav-summit a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #4A4D4E;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-summit .active a, .nav-summit a:hover, .nav-summit a:focus {
    text-decoration: underline;
}

.nav-summit .home {
    background-image: url(http://wpengine.staging.wpengine.com/wp-content/uploads/2017/06/WPE-LGO-Summit17-RGB.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 186px;
    height: 36px;
}

.nav-summit .home a {
    width: 100%;
    height: 100%;
    display: block;
    text-transform: uppercase;
    text-indent: -999em;
}

.nav-summit .register {
    flex: 2 1 auto;
    text-align: center;
}

.nav-summit .register .button {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 10px 15px;
    color: #FFFFFF;
    clip-path: none;
}

.nav-summit .register .button:hover, .nav-summit .register .button:focus {
    text-decoration: none;
}

.nav-summit .wpe {
    position: relative;
    flex: 0 0 88px;
}

.nav-summit .wpe a {
    position: absolute;
    display: block;
    z-index: 99;
    top: -10px;
    left: 0;
    height: 123px;
    width: 100%;
    background: #FFFFFF;
    text-indent: -999em;
    background-image: url(http://wpengine.staging.wpengine.com/wp-content/themes/wpengine/images/WPE-logo-stacked.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.content-band.title {
    position: relative;
    max-width: 100%;
    background: #40BAC8;
    background: linear-gradient(to right, rgba(64, 186, 200, 1) 0%, rgba(114, 197, 161, 1) 100%);
}

.content-band.title .wrap {
    max-width: 1300px;
    margin: 0 auto;
}

.content-band.title:after {
    position: absolute;
    display: block;
    content: '';
    width: 358px;
    height: 108px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    opacity: 0.3;
    -webkit-mask: url(/wp-content/themes/wpengine/images/filters/austin-skyline-mask.svg) top center/100% auto no-repeat;
    mask: url(/wp-content/themes/wpengine/images/filters/austin-skyline-mask.svg) top center/100% auto no-repeat;
}

.content-band.title .band-title {
    margin: 0;
    font-size: 60px;
    color: #FFFFFF;
}

/* Speakers */

.content-band-row.freeform {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.content-band.speakers-keynote .content-band-header, .content-band.speakers-other .content-band-header {
    border-bottom: 5px solid #40BAC8;
}

.content-band.speakers-keynote .band-title, .content-band.speakers-other .band-title {
    font: 600 32px/1 'din-2014';
    text-transform: uppercase;
    text-align: center;
    color: #162A33;
    padding: 0;
    margin-bottom: 10px;
}

ul.speakers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

ul.speakers li {
    list-style-type: none !important;
    flex: 0 0 200px;
    margin: 0 10px 20px;
}

ul.speakers img {
    border-radius: 99em;
}

ul.speakers .name {
    font: 600 21px/1.75 'Open Sans', sans-serif;
    margin-bottom: 0;
}

ul.speakers .desc {
    font: italic 300 16px/1.25 'Open Sans', sans-serif;
}
